*{
	margin: 0;
	padding: 0;
}
body{
	padding: 1%;
	min-width: 1205px;
}
.wrapper{
	display: grid;
	grid-template-columns: repeat(2, 49%);
	column-gap: 2%;
	position: relative;
}
td{
	border: 2px solid black;
	padding: 1.2em;
}
.ship{
	
}
.mimo{
	/*background: green;*/
}
.yellow{
	background: yellow;
}
.green{
	background: green;
}
.red{
	background: red;
}
.win{
	font-size: 2em;
	margin-bottom: 1%;
	padding: 2%;
}
.our{}
p{
	font-size: 2em;
	margin-bottom: 1%;
}
button{
	display: none;
	padding: 2%;
	background-color: green;
}
.random{
	display: block;
	background: yellowgreen;
	position: absolute;
	padding: 1%;
	left: 1%;
	top: 8.5%;
}